@import "./variable.scss";

.hero {
    margin: 0 auto;
    width: 50%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc {
    display: flex;
    align-items: center;
    width: 50%;
    flex-direction: column;
    font-size: 1.1875rem;
}

.left {
    display: flex;
    align-items: left;
    justify-content: left;
    width: 95%;
    flex-direction: column;
    font-size: 1.1875rem;
}

.title {
    text-align: center;
}

.workingOn {
    text-align: center;
    font-size: 30px;
}
