@import "./variable.scss";

.title {
    font-size: 50px;
    text-align: center;
}

.formWrapper {
  z-index: 99;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

//name, email and subject
.main_input {
  border: none;
  width: 287px;
  height: 38px;
  margin-top: 20px;
  transition: 0.2s ease all;
  border: 1px solid #eaecee;
  box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.2);
  &:hover {
    transform: scale(1.1);
  }
}

.message {
  border: none;
  width: 287px;
  height: 185px;
  margin-top: 20px;
  transition: 0.2s ease all;
  border: 1px solid #eaecee;
  box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.2);
  &:hover {
    transform: scale(1.1);
  }
}

.submitCenter {
  display: flex;
  justify-content: center;
  height: 17%;
  z-index: 99;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  button {
    font-size: 17px;
    cursor: pointer;
    border: none;
    background: $accent-color;
    color: #fff;
    transition: 0.2s ease all;
    padding: 10px 10px;
  }
  button:hover {
    background: $accent-color-hover;
    transform: scale(1.1);
    text-decoration: underline;
  }
}

@media (max-width: 910px) {
}
