.footer {
    pastion: absolute;
    bottom: 0%;
    background-color: #fff;
    border-radius: 0.3125rem;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
}

.twitter {
    width: 23%;
    height: 50%;
    text-align: center;
}

.tweets {
    width: 100%;
    padding: 1rem;
    background-color: #F1F1F1;
    border-radius: 0.3125rem;
    box-shadow: 1px 32px 50px rgba(0, 0, 0, 0.2);
}

.gram {
    width: 23%;
    height: 50%;
    text-align: center;
}

.instagram {
    background-color: #F1F1F1;
    box-shadow: 1px 32px 50px rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 0.3125rem;
}

.YouTube {
    width: 23%;
    text-align: center;
}

.tube {
    background-color: #F1F1F1;
    box-shadow: 1px 32px 50px rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 0.3125rem;
}
