@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #F2F2F2;
  font-size: 20px;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}
