@import "./variable.scss";

.hero {
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10rem 10rem;
    width: 70rem;
    overflow: hidden;
    span {
        border-bottom: 5px solid $accent-color;
        display: inline-block;
        line-height: 0.85;
    }
    &_.text {
        flex: 3;
        padding-right: 5rem;
        overflow: hidden;
        width: 90%;
    }
}
