@import "./variable.scss";

.hero {
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7rem 10rem 20rem;
    overflow: hidden;

    span {
        border-bottom: 5px solid $accent-color;
        display: inline-block;
        line-height: 0.85;
    }

    &_.text {
        flex: 3;
        padding-right: 5rem;
        overflow: hidden;
        width: 90%;
    }

}

@media (max-width: 1800px) {
    .video {
        display: none;
    }

    .hero {
        justify-content: center;
    }
}

@media (max-width: 910px) {
    .hero {
        padding: 5rem;
    }
}

@media (max-width: 823px) {
    .hero {
        padding: 0rem;
    }
}
@media (max-width: 698px) {
    .hero {
        padding: 1rem;
    }
}
