.insta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    @media (max-width: 320px) {
        grid-template-columns: 1fr;
        img {
            width: 100%;
        }
    }
}
