.nav {
    display: flex;
    align-items: center;
    height: 189px;
    width: 1669.99px;
}

.links {
    position: absolute;
    right: 5%;
    margin-top: -3.125rem;
    a {
        letter-spacing: .2rem;
        margin-left: 2rem;
    }
}

.logo {
    margin-left: 5rem;
}
